@media screen and ( max-width: 1235px )
    html
        font-size: 12px
    .nav
        &__item
            margin-right: 1rem
@media screen and ( max-width: 992px )
    .nav
       display: none
    .hero
        &__instagram
            display: none
        &__content
            margin-left: 0px
@media screen and ( max-width: 570px )
    .contacts
        &__phone
            margin-right: 7px
            color: $light
            text-decoration: none
        &__bUtton
            display: none
    .logo
        display: flex
        margin-right: 0
        

    